<h2>Adicionar filme</h2>

<form [formGroup]="form" (onSubmit)="onSubmitForm()">
  <div class="form-control">
    <label for="name">Nome *</label>
    <input type="text" id="name" name="name" formControlName="name" required />
  </div>

  <div class="form-control">
    <label for="name">Sinopse</label>
    <textarea
      id="synopsis"
      name="synopsis"
      formControlName="synopsis"
    ></textarea>
  </div>

  <div class="form-control">
    <label for="name">Ano</label>
    <input type="text" id="year" name="year" formControlName="year" />
  </div>

  <div class="form-control">
    <label for="name">Duração (minutos)</label>
    <input
      type="number"
      id="duration"
      name="duration"
      formControlName="duration"
    />
  </div>

  <div class="form-control">
    <label for="name">URL da Foto</label>
    <input
      type="text"
      id="photoUrl"
      name="photoUrl"
      formControlName="photoUrl"
    />
  </div>

  <div class="form-control">
    <label for="name">Nota (até 10)</label>
    <input type="number" id="rating" name="rating" formControlName="rating" />
  </div>

  <div class="actions">
    <button type="button" class="main-button" (click)="onSubmitForm()">
      Salvar
    </button>
  </div>
</form>
