header {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: var(--white);
}

h1 {
  margin: 0;
}

nav {
  margin-left: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}

a {
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 2px solid var(--accent-color);
}

a.active {
  &::before {
    content: "";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: var(--accent-color);
    margin-right: 0.25rem;
  }
}

main {
  padding: 2rem;
}
